body {
    background-color: #faedf1;
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 0;
}

header {
    background-color: #f4b0ba;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #7B3F00;
}

header h1 {
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
}

nav {
    background-color: #f3d2e0; 
    padding: 10px;
}

nav a {
    color:#753d01;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    color:#db3379;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

section {
    background-color: #f9e6ed;
    padding: 20px;
    margin: 25px; 
    border: 3px solid #f4b0ba;
}

h2 {
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    letter-spacing: 2px;
    border-bottom: 2px dotted #7B3F00;
    
}

h3 {
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;

}

p {
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.8;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
