body {
    background-color: #faedf1;
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 0;
}

header {
    background-color: #f4b0ba;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #7B3F00;
}

header h1 {
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
}

nav {
    background-color: #f3d2e0; 
    padding: 10px;
}

nav a {
    color:#b4834f;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    color:#db3379;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

section {
    background-color: #f9e6ed;
    padding: 30px;
    margin: 25px; 
    border: 3px solid #f4b0ba;
}

h2 {
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    letter-spacing: 2px;
    border-bottom: 3px solid #b4834f;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 10px;
    
}

h3 {
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;

}

p {
    color: #753d01;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.8;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

video {
    display: block;
    margin: 10px auto;
}

audio {
    margin: 10px 0;
}

hr {
    border: 0;
    border-top: 3px dotted #7B3F00;
    margin: 40px 25px;
}

ul, ol {
    background-color: #f9e6ed;
    border-left: 4px solid #f4b0ba;
    line-height: 1.8;
    padding: 15px 20px 15px 50px;
}

li {
    margin: 5px 0;  
}

main a {
    color: #b4834f;
    text-decoration: none;
}

main a:hover {
    color: #db3379;
}

form {
    padding: 25px;
    margin-top: 20px;
}

form p {
    color: #753d01;
    margin-top: 25px;
}

label {
    color: #753d01;
}

table {
    background-color: #fffafa;
    width: 100%;
    border: 2px solid #c9968f;
    margin: 20px 0;
}

th {
    background-color: #efd4da;
    color: #753d01;
    text-align: left;
    padding: 15px;
}

td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #c9968f;
}

tr:last-child td {
    border-bottom: none;
}

table tr:first-child {
    background-color: #efd4da;
    color: #753d01;
    font-family: Georgia, "Times New Roman", serif;
}

th:first-child,
td:first-child {
    width: 40%;
    border-right: 2px solid #c9968f;
}

#intro {
    background-color: #f9e6ed;
    text-align: center;
}

#about {
    background-color: #f9e6ed;
    text-align: center;
}

#travel {
    border-left: 6px solid #d998a5;
}


#photos {
    border-left: 6px solid #c98f87;
}


#dancing {
    border-left: 6px solid #dda9b4;
}


#others {
    border-left: 6px solid #b9897d;
}

#travel p, #photos p, #dancing p, #others p {
    text-align: center;
}

#answers, #song {
    text-align: center;
}

footer {
    background-color: #f4b0ba;
    text-align: center;
    padding: 8px;
    border-top: 4px solid #7B3F00;
}

footer p {
    color: #fffafa;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    margin: 0;
}

main > p {
    margin: 25px;
}